body {
    background: #DDDDDD;
}

.navbar {
    background-color: #6377ce;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.scroll { 

    margin-bottom: 82px;
    display: flex;
    flex-direction: column-reverse;
}

.bottom-navbar { 
    overflow: hidden;
    margin-top: 16px;
}
