body {
    background: #DDDDDD;
}

.navbar {
    background-color: #6377ce;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.scroll { 
    overflow:auto;
    height: 100%;
    margin-bottom: 82px;

}

.bottom-navbar { 
    overflow: hidden;
    margin-top: 16px;
}
